<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.saleh.mol5satak">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/dawry_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/dawry_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppLuncherTheme" />
        <activity
            android:name=".LuncherActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppLuncherTheme">
        </activity>
        <activity
            android:name=".MatchDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppLuncherTheme" />
        <activity
            android:name=".Main2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppLuncherTheme" />
        <activity
            android:name=".Main3Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppLuncherTheme" />
        <activity
            android:name=".AdminLogIn"
            android:screenOrientation="portrait"
            android:theme="@style/AppLuncherTheme" />
        <activity
            android:name=".AdminMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppLuncherTheme" />
        <activity
            android:name=".Main4Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppLuncherTheme" />

        <activity android:name=".SplashActivity"
            android:theme="@style/AppLuncherTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>